[Unit]
Description=GISST Search Service
After=gisst.service
Wants=gisst.service

[Service]
Type=simple
User=jcoa2018
WorkingDirectory=/home/jcoa2018/Projects/gisst/backend/meili
EnvironmentFile=/home/jcoa2018/Projects/gisst/backend/.env
PassEnvironment=MEILI_MASTER_KEY
ExecStart=/bin/bash -c "./meilisearch --no-analytics --db-path ./db --env production"
Restart=always
RestartSec=5s

[Install]
WantedBy=gisst.service
