GISST_ENV={{ gisst_server_environment }}
DATABASE_URL={{ gisst_server_database_full_url }}
MEILI_API_KEY={{ meilisearch_api_key }}
MEILI_SEARCH_KEY={{ meilisearch_search_key }}
MEILI_URL={{ gisst_server_meilisearch_url }}