[Unit]
Description=GISST
Requires=postgresql@16-main.service
After=network.target network-online.target systemd-user-sessions.service
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30
User={{ gisst_server_user }}
EnvironmentFile=-{{ gisst_server_home }}/gisst-server.env
{% if gisst_server_environment == "development" %}
ExecStart=/usr/bin/cargo run --bin gisst-server
WorkingDirectory={{ gisst_server_home }}/repo/backend/
EnvironmentFile=-{{ gisst_server_home }}/repo/backend/.env
{% else %}
ExecStart={{ gisst_server_home }}/bin/gisst-server
WorkingDirectory={{ gisst_server_home }}
{% endif %}

# Security settings
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ gisst_server_home }} {{ gisst_server_storage_dir }} {{ gisst_server_temp_dir }}

[Install]
WantedBy=multi-user.target
