{% extends "layout.html" %}
{% block content %}
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Background</h2>
                <p class="lead fw-normal text-muted mb-0">We initially developed GISST in 2015-2017 as a part of the Institute of Museum and Library Services-funded <a href="https://gamecip.soe.ucsc.edu">Game Metadata and Citation Project (GAMECIP)</a>. The positive response to that project, and the questions raised by it, inspired this new version of the toolkit funded by the National Endowment for the Humanities.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Overarching Goal</h2>
                <p class="lead fw-normal text-muted mb-0"></p>
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Development Team</h2>
            <p class="lead fw-normal text-muted mb-5">Active Members</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Joseph C. Osborn</h5>
                    <div class="fst-italic text-muted">Project Director</div>
                    <div class="fst-italic text-muted">Pomona College</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder"><a href="https://www.erickaltman.com">Eric Kaltman</a></h5>
                    <div class="fst-italic text-muted">Consultant</div>
                    <div class="fst-italic text-muted">(Former Project Co-Director)</div>
                    <div class="fst-italic text-muted">University of Alberta</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Advisory Board</h2>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center mb-5">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder">Nathan Altice</h5>
                    <div class="fst-italic text-muted">University of California Santa Cruz</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder"><a href="http://dcardo.com/">Daniel Cardoso Llach</a></h5>
                    <div class="fst-italic text-muted">Carnegie Mellon University</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder"><a href="https://anjchang.mit.edu/">Angela Chang</a></h5>
                    <div class="fst-italic text-muted">MIT Trope Tank</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder">Claire Fox</h5>
                    <div class="fst-italic text-muted">Yale University Libraries</div>
                </div>
            </div>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center mb-5">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder">Dene Grigar</h5>
                    <div class="fst-italic text-muted">Electronic Literature Organization</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder"><a href="https://english.umd.edu/directory/matthew-kirschenbaum">Matthew Kirschenbaum</a></h5>
                    <div class="fst-italic text-muted">University of Maryland</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder">Henry Lowood</h5>
                    <div class="fst-italic text-muted">Stanford University Libraries</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder">Adam Smith</h5>
                    <div class="fst-italic text-muted">University of California Santa Cruz</div>
                </div>
            </div>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <h5 class="fw-bolder">Noah Wardrip-Fruin</h5>
                    <div class="fst-italic text-muted">University of California Santa Cruz</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}