{% extends "layout_internal.html" %}

{% block style_imports %}
{% endblock style_imports %}

{% block js_preload %}
<script type="module" src="{{ base_url | safe }}/ui/ui.js"></script>
{% endblock js_preload %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{{creator.creator_username}}'s Citations</h1>
    </div>
    <div class="row">
      <h2>States</h2>
      <gisst-state-search
        base-url="{{ base_url | safe }}"
        search-url="{{ search_url | safe }}"
        search-key="{{ search_key }}"
        creator-id="{{ creator.creator_id }}"
        creator-info="false"
      ></gisst-state-search>
    </div>
  <div class="row">
    <h2>Performances</h2>
      <gisst-performance-search
        base-url="{{ base_url | safe }}"
        search-url="{{ search_url | safe }}"
        search-key="{{ search_key }}"
        creator-id="{{ creator.creator_id }}"
        creator-info="false"
      ></gisst-performance-search>
  </div>
  <div class="row">
    <h2>Saves</h2>
      <gisst-save-search
        base-url="{{ base_url | safe }}"
        search-url="{{ search_url | safe }}"
        search-key="{{ search_key }}"
        creator-id="{{ creator.creator_id }}"
        creator-info="false"
      ></gisst-save-search>
  </div>
</div>
{% endblock content %}
