{% extends "layout_internal.html" %}

{% block style_imports %}
{% endblock style_imports %}

{% block js_preload %}
{% endblock js_preload %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{{creator.creator_username}}'s Citations</h1>
    </div>
    <div class="row">
      <h2>States</h2>
      <div id="state_searchbox"></div>
      <div id="state_hits"></div>
      <div id="state_pagination"></div>
    </div>
  <div class="row">
    <h2>Performances</h2>
    <div id="performance_searchbox"></div>
    <div id="performance_hits"></div>
    <div id="performance_pagination"></div>
  </div>
  <div class="row">
    <h2>Saves</h2>
    <div id="save_searchbox"></div>
    <div id="save_hits"></div>
    <div id="save_pagination"></div>
  </div>
</div>

</div>

<script type="module">
import * as ui from '{{ base_url | safe }}/ui/ui.js';

const style = document.createElement('style');
style.innerHTML = ui.styles;
document.head.appendChild(style);

const state_search = ui.search_states("{{ search_url | safe }}", "{{ search_key | safe }}", {});
state_search.addWidgets([
  ui.widgets.searchBox({
    container: "#state_searchbox"
  }),
  ui.widgets.configure({ hitsPerPage: 10, filters:"creator_id = \"{{ creator.creator_id }}\"" }),
  ui.widgets.pagination({ container: "#state_pagination" }),
  ui.widgets.hits({
    container: "#state_hits",
    templates: {
      item: (hit, { html, components }) => html`
        <div>
          <div class="hit-name">
            <a href="{{ base_url | safe }}/play/${hit.instance_id}?state=${hit.state_id}">${components.Highlight({ hit, attribute: "state_name"})} (Play)</a>--<a href="{{ base_url | safe }}/play/${hit.instance_id}?state=${hit.state_id}&boot_into_record=true">(Play and record)</a>
          </div>
          <div class="hit-more-info">
            ${components.Highlight({ hit, attribute: "state_description"})}<br/>
            <a href="{{ base_url | safe }}/instances/${hit.instance_id}">${components.Highlight({ hit, attribute: "work_name"})}</a>--
            ${hit.work_version}--${components.Highlight({ hit, attribute: "work_platform"})}--<a class="btn btn-primary instance-boot-button" href="{{ base_url | safe }}/play/${hit.instance_id}">Play</a>
          </div>
        </div>
          `
    }
  })
]);
state_search.start();

const replay_search = ui.search_replays("{{ search_url | safe }}", "{{ search_key | safe }}", {});
replay_search.addWidgets([
  ui.widgets.searchBox({
    container: "#performance_searchbox"
  }),
  ui.widgets.configure({ hitsPerPage: 10, filters:"creator_id = \"{{ creator.creator_id }}\"" }),
  ui.widgets.pagination({ container: "#performance_pagination" }),
  ui.widgets.hits({
    container: "#performance_hits",
    templates: {
      item: (hit, { html, components }) => html`
        <div>
          <div class="hit-name">
            <a href="{{ base_url | safe }}/play/${hit.instance_id}?replay=${hit.replay_id}">${components.Highlight({ hit, attribute: "replay_name"})} (Play)</a>
          </div>
          <div class="hit-more-info">
            ${components.Highlight({ hit, attribute: "replay_description"})}<br/>
            <a href="{{ base_url | safe }}/instances/${hit.instance_id}">${components.Highlight({ hit, attribute: "work_name"})}</a>--
            ${hit.work_version}--${components.Highlight({ hit, attribute: "work_platform"})}--<a class="btn btn-primary instance-boot-button" href="{{ base_url | safe }}/play/${hit.instance_id}">Play</a>
          </div>
        </div>
          `
    }
  })
]);
replay_search.start();

const save_search = ui.search_saves("{{ search_url | safe }}", "{{ search_key | safe }}", {});
save_search.addWidgets([
  ui.widgets.searchBox({
    container: "#save_searchbox"
  }),
  ui.widgets.configure({ hitsPerPage: 10, filters:"creator_id = \"{{ creator.creator_id }}\"" }),
  ui.widgets.pagination({ container: "#save_pagination" }),
  ui.widgets.hits({
    container: "#save_hits",
    templates: {
      item: (hit, { html, components }) => html`
        <div>
          <div class="hit-name">
            <a href="{{ base_url | safe }}/play/${hit.instance_id}?save=${hit.save_id}">${components.Highlight({ hit, attribute: "save_short_desc"})} (Play)</a>
          </div>
          <div class="hit-more-info">
            ${components.Highlight({ hit, attribute: "save_description"})}<br/>
            <a href="{{ base_url | safe }}/instances/${hit.instance_id}">${components.Highlight({ hit, attribute: "work_name"})}</a>--
            ${hit.work_version}--${components.Highlight({ hit, attribute: "work_platform"})}--<a class="btn btn-primary instance-boot-button" href="{{ base_url | safe }}/play/${hit.instance_id}">Play</a>
          </div>
        </div>
          `
    }
  })
]);
save_search.start();
</script>

{% endblock content %}
