<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>test view</title>
</head>
<body>
<table>
    <h1>{{ model.name }}s</h1>
    <table>
        <tr>
            {% for field in model.fields %}
            <th>{{ field.name | capitalize }}</th>
            {% endfor %}
        </tr>
        {% for record in model.records %}
            <tr>
                {% for value in record.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</table>
</body>
</html>
