{% extends "layout.html" %}
{% block header %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">The Game and Interactive Software Scholarship Toolkit</h1>
                    <p class="lead fw-normal text-white-50 mb-4">The Game and Interactive Software Scholarship Toolkit (GISST) is a frontend tool and backend repository software that allow for the citation and retrieval of references to computational states and replays.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Login</a>
                        <a class="btn btn-secondary btn-lg px-4 me-sm-3" href="#">Request Access</a>
                    </div>
                </div>
            </div>
            <div id="embedExample" class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <!-- <img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />-->
            </div>
        </div>
    </div>
</header>
{% endblock%}
{% block content %}
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="fw-bolder mb-0">GISST allows you to manipulate and retrieve software references in exciting new ways.</h2>
            </div>
            <div class="col-lg-8">
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="/embed/assets/style.css"/>
<script type="module" src="/embed/assets/main.js"></script>
<script type="module">
    import {embed} from './embed/assets/main.js';
    embed("http://localhost:3000/00000000-0000-0000-0000-000000000026", document.getElementById("embedExample"));
</script>
{% endblock %}
