{% extends "layout_internal.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ work.work_name }} Instance Information</h1>
        <div class="row">
            <p class="col-4">
                Version: {{ work.work_version }}
            </p>
            <p class="col-4">
                Platform: {{ work.work_platform }}
            </p>
            <p class="col-4">
                Runtime: {{ environment.environment_framework }} - {{ environment.environment_core_name }} - {{ environment.environment_core_version }}
            </p>
        </div>
        <div>
            <a class="btn btn-primary" href="{{ base_url }}/play/{{ instance.instance_id }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg>
                Play
            </a>
            <a class="btn btn-primary" href="{{ base_url }}/play/{{ instance.instance_id }}?boot_into_record=true" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg>
                Play and Record
            </a>
          <a class="btn btn-primary" href="?{% if not creator_id %}creator_id={{user.creator_id}}&{% endif %}">{% if creator_id %}Show all users' states/performances{% else %}Show only my states/performances{% endif %}</a>
        </div>
    </div>
    <div class="row">
      <h2>States</h2>
      <gisst-state-search
        base-url="{{ base_url | safe }}"
        search-url="{{ search_url | safe }}"
        search-key="{{ search_key }}"
        instance-id="{{ instance.instance_id }}"
        instance-info="false"
        {% if creator_id %}
        creator-id="{{ creator.creator_id }}"
        {% endif %}
        {% if environment.environment_framework == "v86" %}
        can-clone="true"
        {% endif %}
      ></gisst-state-search>
    </div>
    <div class="row">
      <h2>Performances</h1>
      <gisst-performance-search
        base-url="{{ base_url | safe }}"
        search-url="{{ search_url | safe }}"
        search-key="{{ search_key }}"
        instance-id="{{ instance.instance_id }}"
        instance-info="false"
        {% if creator_id %}
        creator-id="{{ creator.creator_id }}"
        {% endif %}
      ></gisst-performance-search>
    </div>
    <div class="row">
      <h1>Saves</h1>
      <gisst-save-search
        base-url="{{ base_url | safe }}"
        search-url="{{ search_url | safe }}"
        search-key="{{ search_key }}"
        instance-id="{{ instance.instance_id }}"
        instance-info="false"
        {% if creator_id %}
        creator-id="{{ creator.creator_id }}"
        {% endif %}
      ></gisst-save-search>
    </div>
    <div class="row">
        <h1>Data Objects</h1>
        <table class="table">
            <tr>
                <th scope="col">File</th>
                <th scope="col">Role</th>
                <th scope="col">Index</th>
                <th scope="col">Source Path</th>
            </tr>
            {% for data in objects %}
                <tr>
                    <td><a href="{{ base_url }}/objects/{{ data.object_id }}">{{ data.file_filename }}</a></td>
                    <td>{{ data.object_role }}</td>
                    <td>{{ data.object_role_index }}</td>
                    <td>{{ data.file_source_path }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
