{% extends "layout_internal.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ instance.work.work_name }} Instance Information</h1>
        <div class="row">
            <p class="col-4">
                Version: {{ instance.work.work_version }}
            </p>
            <p class="col-4">
                Platform: {{ instance.work.work_platform }}
            </p>
            <p class="col-4">
                Runtime: {{ instance.environment.environment_framework }} - {{ instance.environment.environment_core_name }} - {{ instance.environment.environment_core_version }}
            </p>
        </div>
        <div>
            <a class="btn btn-primary" href="/play/{{ instance.info.instance_id }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg>
                Fresh Boot
            </a>
            <a class="btn btn-primary" href="/play/{{ instance.info.instance_id }}?boot_into_record=true" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg>
                Start Recording on Boot
            </a>
        </div>
    </div>
    <div class="row">
        <h1>States</h1>
        <table class="table">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
            {% for state in instance.states %}
                <tr>
                    <td>{{ state.record.state_name}}</td>
                    <td>{{ state.record.state_description}}</td>
                    <td>
                        <a class="btn btn-primary" href="/play/{{ instance.info.instance_id }}?state={{ state.record.state_id }}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                            </svg>
                            Boot
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/play/{{ instance.info.instance_id }}?state={{ state.record.state_id }}&?boot_into_record=true" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record" viewBox="0 0 16 16">
                                <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                            </svg>
                            Record on Boot
                        </a>
                    </td>
                    <!-- if v86, clone instance -->
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <h1>Performances</h1>
        <table class="table">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
            {% for replay in instance.replays %}
                <tr>
                    <td>{{ replay.record.replay_name}}</td>
                    <td>{{ replay.record.replay_description}}</td>
                    <td>
                        <a class="btn btn-primary" href="/play/{{ instance.info.instance_id }}?replay={{ replay.record.replay_id }}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                            </svg>
                            Boot
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <h1>Data Objects</h1>
        <table class="table">
            <tr>
                <th scope="col">File</th>
                <th scope="col">Role</th>
                <th scope="col">Index</th>
                <th scope="col">Source Path</th>
            </tr>
            {% for data in instance.objects %}
                <tr>
                    <td><a href="/objects/{{ data.object_id }}">{{ data.file_filename }}</a></td>
                    <td>{{ data.object_role }}</td>
                    <td>{{ data.object_role_index }}</td>
                    <td>{{ data.file_source_path }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
