{% extends "layout_internal.html" %}

{% block title %}GISST{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Instances</h1>
        <input id="instanceSearch" type="search" onkeyup="searchInstances()" class="form-control" placeholder="Search..." aria-label="Search">
    </div>
    <div class="row">
        <table id="instanceTable" class="table">
            <tr>
                <th scope="col">Work</th>
                <th scope="col">Version</th>
                <th scope="col">Platform</th>
                <th scope="col">Instance Link</th>
                <th scope="col">Direct Boot</th>
                <th scope="col">Record?</th>
            </tr>
            {% for instance_entry in instances %}
            <tr>
                <td>{{ instance_entry.work_name}}</td>
                <td>{{ instance_entry.work_version}}</td>
                <td>{{ instance_entry.work_platform}}</td>
                <td><a href="/instances/{{ instance_entry.instance_id }}/all">Link</a></td>
                <td>
                    <button id="{{ instance_entry.instance_id }}_button" class="btn btn-primary instance-boot-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                            <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                        </svg>
                        Boot
                    </button>
                </td>
                <td style="text-align: center;">
                    <input class="form-check-input" type="checkbox" value="" id="{{ instance_entry.instance_id }}_boot-checkbox">
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
    window.onload = function(){
        let instanceBootButtons = document.getElementsByClassName("instance-boot-button");

        for (let i = 0; i < instanceBootButtons.length; i++){
            let instance_id = instanceBootButtons[i].getAttribute("id").split("_")[0];
            instanceBootButtons[i].addEventListener("click", () => {
                bootInstance(instance_id);
            });
        }

    }

    function bootInstance(instance_id) {
        let boot_into_record = document.getElementById(instance_id + "_boot-checkbox").checked;
        window.open("/play/" + instance_id + "?boot_into_record=" + boot_into_record, "_blank");
    }

    function searchInstances() {
        let search = document.getElementById("instanceSearch").value.toUpperCase();
        let tableRecord = document.getElementById("instanceTable");
        let tr = tableRecord.getElementsByTagName("tr");

        for (let i = 1; i < tr.length; i++) {
            let displayStyle = "none";
            let td = tr[i].getElementsByTagName("td");
            for (let j = 0; j < td.length - 1; ++j) {
                if (td[j]) {
                    let textvalue = td[j].textContent || td[j].innerText;
                    if (textvalue.toUpperCase().indexOf(search) > -1) {
                        displayStyle = "";
                        break;
                    }
                }
            }
            tr[i].style.display = displayStyle;
        }
    }
</script>
{% endblock %}
