{% extends "layout_internal.html" %}

{% block title %}GISST{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <h1>Instances</h1>
      <form method="get" action="instances">
        <input id="instanceSearch" type="search" class="form-control" placeholder="Search..." aria-label="Search" name="contains" {% if contains %}value="{{contains}}"{% endif %}/>
        <input type="submit" value="Search"/>
        </form>
    </div>
    <div class="row">
      {% if page_num > 0 %}
      <a class="results-prev" href="instances?page_num={{page_num-1}}{% if contains %}&contains={{contains|urlencode}}{% endif %}&limit={{limit}}{% if platform %}&platform={{platform|urlencode}}{% endif %}">Prev</a>
      {% endif %}
      {% if has_more %}
      <a class="results-next" href="instances?page_num={{page_num+1}}{% if contains %}&contains={{contains|urlencode}}{% endif %}&limit={{limit}}{% if platform %}&platform={{platform|urlencode}}{% endif %}">Next</a>
      {% endif %}
        <table id="instanceTable" class="table">
            <tr>
                <th scope="col">Work</th>
                <th scope="col">Version</th>
                <th scope="col">Platform</th>
                <th scope="col">Link</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            {% for instance_entry in instances %}
            <tr>
                <td>{{ instance_entry.work_name}}</td>
                <td>{{ instance_entry.work_version}}</td>
                <td>{{ instance_entry.work_platform}}</td>
                <td><a href="/instances/{{ instance_entry.instance_id }}">Link</a></td>
                <td>
                    <a class="btn btn-primary instance-boot-button" href="/play/{{instance_entry.instance_id}}">
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16"> -->
                      <!--   <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/> -->
                      <!-- </svg> -->
                      Boot
                    </a>
                </td>
                <td style="text-align: center;">
                  <a class="btn btn-primary instance-boot-button" href="/play/{{instance_entry.instance_id}}?boot_into_record=true">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16"> -->
                    <!--   <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/> -->
                    <!-- </svg> -->
                    Boot and Record
                  </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
