{% extends "layout_internal.html" %}

{% block title %} Playing {{ player_params.work.work_name}} {% endblock %}

{% block gisst_imports %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script type="module" crossorigin src="/assets/index.js"></script>
<link rel="stylesheet" href="/assets/index.css">
{% if player_params.environment.environment_framework == "retroarch" %}
<script src="/ra/libretro_adapter.js"></script>
{% elif player_params.environment.environment_framework == "v86" %}
<script src="/v86/libv86.js"></script>
{% endif %}
<script id="config" type="application/json">
    {{ player_params|tojson }}
</script>
{% endblock gisst_imports %}

{% block body%}
<div id="ui"></div>
{% endblock %}}