{% extends "layout_external.html" %}

{% block title %}
GISST Citation for {{ embed_data.work.work_name }}
{% endblock title %}

{% block gisst_imports %}
<link rel="stylesheet" href="/embed/style.css"/>
{% endblock gisst_imports %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div id="embedTarget"></div>
    </div>
    <div class="col-xl-6">
      <div class="pt-1">
        <h2>{{ embed_data.start.data.state_name}}</h2>
        <h3>{{ embed_data.start.data.state_description}}</h3>
        <h4>Work Information</h4>
        <p>{{ embed_data.work.work_name }}</p>
        <p>Version: {{ embed_data.work.work_version }}</p>
        <p>Platform: {{ embed_data.work.work_platform }}</p>
      </div>
    </div>
  </div>
</div>



<script type="module">
  import {embed} from '/embed/embed.js';
  {% if embed_data.start.type == "replay" %}
  embed("{{ embed_data.host_protocol }}//{{ embed_data.host_url }}/data/{{ embed_data.instance.instance_id }}?replay={{ embed_data.start.data.replay_id }}", document.getElementById("embedTarget"));
  {% elif embed_data.start.type == "state" %}
  embed("{{ embed_data.host_protocol }}//{{ embed_data.host_url }}/data/{{ embed_data.instance.instance_id }}?state={{ embed_data.start.data.state_id }}", document.getElementById("embedTarget"));
  {% else %}
  embed("{{ embed_data.host_protocol }}//{{ embed_data.host_url }}/data/{{ embed_data.instance.instance_id }}", document.getElementById("embedTarget"))
  {% endif %}
</script>
{% endblock content %}
